@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
		url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Regular.woff') format('woff'),
		url('../fonts/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-ExtraLight.eot');
	src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
		url('../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-ExtraLight.woff') format('woff'),
		url('../fonts/Circe-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Thin.eot');
	src: local('Circe Thin'), local('Circe-Thin'),
		url('../fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Thin.woff') format('woff'),
		url('../fonts/Circe-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Light.eot');
	src: local('Circe Light'), local('Circe-Light'),
		url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Light.woff') format('woff'),
		url('../fonts/Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Bold.eot');
	src: local('Circe Bold'), local('Circe-Bold'),
		url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-Bold.woff') format('woff'),
		url('../fonts/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-ExtraBold.eot');
	src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
		url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe-ExtraBold.woff') format('woff'),
		url('../fonts/Circe-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

*, 
*:after, 
*:before {
    box-sizing: border-box;
}

body {
    font-family: "Circe", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header__top {
    margin-bottom: 100px;
}

.site-header {
    background-color: #f8f8f8;
    padding-top: 45px;
    padding-bottom: 145px;
}

.site-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header-logo {
    font-size: 18px;
    font-weight: 800;
    user-select: none;
}

.nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav__item {
    font-size: 14px;
}

.nav__item:not(:last-child) {
    margin-right: 20px;
}

.phone {
    font-size: 16px;
    font-weight: 800;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content__text {
    flex-basis: 50%;
}

.header-content__title {
    margin-bottom: 20px;
    font-size: 58px;
    font-weight: 800;
    line-height: 100%;
}

.header-content__description {
    font-size: 17px;
    line-height: 160%;
    margin-bottom: 40px;
}

.button {
    padding: 15px 50px;

    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    color: #ffffff;

    background-color: #ff6c6c;
    border: none;
    border-radius: 4px;
}

.button--shadow {
    box-shadow: 0px 10px 25px rgba(255, 108, 108, 0.5);
}

.header-content__image {
    flex-basis: 40%;
}

.section {
    padding: 100px 0;
}

.section__title {
    margin-bottom: 50px;
    font-weight: 900;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex-basis: 31%;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 4px rgba(104, 104, 104, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 30px;
}

.catalog__card {
    margin-bottom: 30px;
}

.card__image {
    margin-bottom: 28px;
}

.card__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.card__title {
    width: 190px;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
}

.card__price {
    font-size: 36px;
    font-weight: 900;
}

.card__button {
    width: 100%;
}

.review-cards {
    display: flex;
    justify-content: space-between;
}

.review-card {
    flex-basis: 24%;
    padding: 20px 30px;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(131, 131, 131, 0.25);
    border-radius: 10px;
}

.review-card__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.review-card__text {
    font-size: 14px;
    line-height: 21px;
}

.footer {
    background-color: #f8f8f8;
}

.contacts {
    display: flex;
    justify-content: space-between;
}

.form {
    flex-basis: 45%;
}

.contacts__form {
    display: flex;
    flex-direction: column;
}

.map {
    flex-basis: 50%;
}

.input {
    font-size: 14px;
    line-height: 21px;

    padding: 25px 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(217, 217, 217, 0.25);
    border-radius: 5px;
    border: none;
}

.form__inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form__input {
    width: 47%;
}

.form__textarea {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    resize: none;
}

.form__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    display: flex;
}

.social__link {
    text-decoration: none;
    margin-left: 20px;
}